In [1]:
from os.path import join
import os
import pandas as pd
from collections import Counter
import argparse

from repro_hvr.load_and_process_data import load_and_process



top_dir = '/Users/iaincarmichael/Dropbox/Research/substance_abuse/homeless_vs_retention/repro_homeless_retention'
data_dir = join(top_dir, 'data')
save_dir = join(top_dir, 'results')
# os.makedirs(save_dir, exist_ok=True)
# data_dir = '/Users/iaincarmichael/Dropbox/Research/substance_abuse/homeless_vs_retention/repro_homeless_retention/data/'

# load data
fpath = join(data_dir, 'homeless_database_10-9-20.sav')
covar, cts_cols, cat_cols, ret_intvals = load_and_process(fpath)


# continuous variables
cts_var_summary = covar[cts_cols].describe()
# cts_var_summary.to_csv(join(save_dir, 'continuous_var_summary.csv'))

41 subjects went back and forth

In [2]:
cts_var_summary

         subabuse     overall         age
count  487.000000  478.000000  488.000000
mean     2.508583    1.525523   36.799180
std      0.981356    0.703450   10.532664
min      0.000000    0.060000   18.000000
25%      2.000000    1.002500   29.000000
50%      2.650000    1.510000   34.000000
75%      3.205000    2.000000   44.000000
max      4.000000    3.280000   68.000000

In [3]:
# categorical variable summary
cnts_summary = {}
props_summary = {}
for c in cat_cols:
    values = covar[c].astype(str)  # make sure NaNs are merged

    cnts = pd.Series(Counter(values)).sort_values(ascending=False)
    props = cnts / cnts.sum()

    cnts_summary[c] = cnts
    props_summary[c] = props

In [10]:
covar[cat_cols] = covar[cat_cols].astype(str)

In [14]:
# covar.groupby('homeless')

In [59]:
counts = {}
proportions = {}

n_tot = covar.shape[0]
n_homeless = covar.query("homeless == 'True'").shape[0]
n_not_homeless = covar.query("homeless == 'False'").shape[0]

for c in cat_cols:
    
    cnts = {}
    cnts['study'] = covar[c].value_counts()
    cnts['is_homeless'] = covar.query("homeless == 'True'")[c].value_counts()
    cnts['not_homeless'] = covar.query("homeless == 'False'")[c].value_counts()
    cnts = pd.DataFrame(cnts)
    counts[c] = cnts
    
    props = cnts.copy()
    props['study'] /= n_tot
    props['is_homeless'] /= n_homeless
    props['not_homeless'] /= n_not_homeless
    
    proportions[c] = props

In [62]:
print(proportions[c])

        study  is_homeless  not_homeless
nan  0.026639     0.021739      0.027149
no   0.540984     0.326087      0.563348
yes  0.432377     0.652174      0.409502

homeless             False       True
subabuse count  441.000000  46.000000
         mean     2.484943   2.735217
         std      0.984870   0.926779
         min      0.000000   0.230000
         25%      2.000000   2.242500
         50%      2.650000   2.975000
         75%      3.160000   3.430000
         max      4.000000   4.000000
overall  count  432.000000  46.000000
         mean     1.477153   1.979783
         std      0.684200   0.726836
         min      0.060000   0.440000
         25%      0.962500   1.422500
         50%      1.455000   1.995000
         75%      1.962500   2.545000
         max      3.270000   3.280000
age      count  442.000000  46.000000
         mean    36.800905  36.782609
         std     10.570622  10.273835
         min     18.000000  22.000000
         25%     29.000000  28.250000
         50%     34.000000  35.500000
         75%     44.000000  42.750000
         max     68.000000  60.000000